.pickupInfo{
    display: none;
    margin:30px 0;
    flex-direction: column;
}

.pickupLabel{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}

.pickupSelect {
    display: block;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    background: #8b8b8b;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    border: none;
    margin-top: 20px;
}
